<turbo-frame id="planete-card-{{ planete.id }}">
    <div class="px-6 py-4">
        <h4>
            <a
                href="{{ path('app_planete_show', { id: planete.id }) }}"
                class="hover:text-blue-300 transition-colors duration-100"
            >
                {{ planete.nom }}
            </a>
        </h4>
        <small>{{ planete.distanceLumiereTerre|round|number_format }} années‑lumière</small>
    </div>
</turbo-frame>
