<form method="post" action="{{ path('app_planete_delete', {'id': planete.id}) }}"
      onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette planète ?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planete.id) }}">
    <button
        class="px-4 py-2 text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 focus:outline-none"
    >
        Supprimer
    </button>
</form>
