{% form_theme form 'form/flowbite_theme.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="mt-4 bg-green-600 text-black px-4 py-2 rounded hover:bg-green-700">Modifier</button>
{{ form_end(form) }}
