{% extends 'modalBase.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <div class="m-4 p-4 modal:m-0 modal:p-0 bg-gray-800 rounded-lg">
        <div class="flex justify-between items-center">
            <h1 class="text-xl font-semibold text-white mb-4">Créer un nouveau voyage</h1>

            <a href="{{ path('app_voyage_index') }}" class="text-sm font-medium text-white hover:underline">
                Retour à la liste
            </a>
        </div>

        {{ include('voyage/_form.html.twig', { button_label: 'Créer' }) }}
    </div>
{% endblock %}

{% block stream_success %}
    <div data-turbo-stream>
        <div data-turbo-action="prepend" data-turbo-target="#voyage-list tbody">
            {{ include('voyage/_row.html.twig') }}
        </div>
    </div>
{% endblock %}
